#headerHome{
   transition: 1s;
   .header-search{
      display: flex;
      width: 100vw;
      height: 1rem;
      background-color: #fff;
      padding: .2rem;
      align-items: center;
      justify-content: space-around;
      transition: 1s;
      .envelope{
         width: .5rem;
         height: .5rem;
         border-radius: .1rem;
         &:active{
            background-color:rgba(0, 0, 0, 0.4)
         }
      }
      .my{
         width: .5rem;
         height: .5rem;
         margin-left: .1rem;
         border-radius: .1rem;
         position: relative;
         &:active{
            background-color:rgba(0, 0, 0, 0.4)
         }
      }
      .search{
         flex:1;
         padding: 0 .2rem;
         display: flex;
         padding: .2rem;
         border-radius: 1rem;
         background-color:rgba(50, 50, 50, 0.4);
         align-items: center;
         height: .6rem;
         margin-left: .2rem;
         span{
            flex:1;
            text-align:left;
            color: #fff;
            margin-right: .13rem;
            font-weight: 100;
            border-right: 1px #fff solid;
         }
         img{
            width: .45rem;
            vertical-align: middle;
         }
      }
   }
  .background{
     transition: 1s;
  }
}
.am-tab-bar-bar{
   transition: 1s;
}